<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>Bank Select</string>
	<key>1</key>
	<string>Modulation Wheel (coarse)</string>
	<key>2</key>
	<string>Breath Control (coarse)</string>
	<key>4</key>
	<string>Foot Control (coarse)</string>
	<key>5</key>
	<string>Portamento Time (coarse)</string>
	<key>6</key>
	<string>Data Entry (coarse)</string>
	<key>7</key>
	<string>Channel Volume (coarse)</string>
	<key>8</key>
	<string>Balance (coarse)</string>
	<key>10</key>
	<string>Pan (coarse)</string>
	<key>11</key>
	<string>Expression (coarse)</string>
	<key>12</key>
	<string>Effect Control 1 (coarse)</string>
	<key>13</key>
	<string>Effect Control 2 (coarse)</string>
	<key>16</key>
	<string>General Purpose 1 (coarse)</string>
	<key>17</key>
	<string>General Purpose 2 (coarse)</string>
	<key>18</key>
	<string>General Purpose 3 (coarse)</string>
	<key>19</key>
	<string>General Purpose 4 (coarse)</string>
	<key>32</key>
	<string>Bank Select (fine)</string>
	<key>33</key>
	<string>Modulation Wheel (fine)</string>
	<key>34</key>
	<string>Breath Control (fine)</string>
	<key>36</key>
	<string>Foot Control (fine)</string>
	<key>37</key>
	<string>Portamento Time (fine)</string>
	<key>38</key>
	<string>Data Entry (fine)</string>
	<key>39</key>
	<string>Channel Volume (fine)</string>
	<key>40</key>
	<string>Balance (fine)</string>
	<key>42</key>
	<string>Pan (fine)</string>
	<key>43</key>
	<string>Expression (fine)</string>
	<key>44</key>
	<string>Effect Control 1 (fine)</string>
	<key>45</key>
	<string>Effect Control 2 (fine)</string>
	<key>48</key>
	<string>General Purpose 1 (fine)</string>
	<key>49</key>
	<string>General Purpose 2 (fine)</string>
	<key>50</key>
	<string>General Purpose 3 (fine)</string>
	<key>51</key>
	<string>General Purpose 4 (fine)</string>
	<key>64</key>
	<string>Damper Pedal (Sustain)</string>
	<key>65</key>
	<string>Portamento On/Off</string>
	<key>66</key>
	<string>Sustenuto Pedal</string>
	<key>67</key>
	<string>Soft Pedal</string>
	<key>68</key>
	<string>Legato Pedal</string>
	<key>69</key>
	<string>Hold 2 Pedal</string>
	<key>70</key>
	<string>Sound Variation</string>
	<key>71</key>
	<string>Timbre/Harmonic Intensity</string>
	<key>72</key>
	<string>Release Time</string>
	<key>73</key>
	<string>Attack Time</string>
	<key>74</key>
	<string>Brightness</string>
	<key>75</key>
	<string>Decay Time</string>
	<key>76</key>
	<string>Vibrato Rate</string>
	<key>77</key>
	<string>Vibrato Depth</string>
	<key>78</key>
	<string>Vibrato Delay</string>
	<key>79</key>
	<string>Sound Control 10</string>
	<key>80</key>
	<string>General Purpose 5</string>
	<key>81</key>
	<string>General Purpose 6</string>
	<key>82</key>
	<string>General Purpose 7</string>
	<key>83</key>
	<string>General Purpose 8</string>
	<key>84</key>
	<string>Portamento Control</string>
	<key>88</key>
	<string>High Resolution Velocity Prefix</string>
	<key>91</key>
	<string>Reverb Send Level</string>
	<key>92</key>
	<string>Tremolo Depth</string>
	<key>93</key>
	<string>Chorus Send Level</string>
	<key>94</key>
	<string>Celeste/Detune Depth</string>
	<key>95</key>
	<string>Phaser Depth</string>
	<key>96</key>
	<string>Data Increment</string>
	<key>97</key>
	<string>Data Decrement</string>
	<key>98</key>
	<string>Non-Registered Parameter LSB</string>
	<key>99</key>
	<string>Non-Registered Parameter MSB</string>
	<key>100</key>
	<string>Registered Parameter LSB</string>
	<key>101</key>
	<string>Registered Parameter MSB</string>
	<key>120</key>
	<string>All Sound Off</string>
	<key>121</key>
	<string>Reset All Controllers</string>
	<key>122</key>
	<string>Local Control On/Off</string>
	<key>123</key>
	<string>All Notes Off</string>
	<key>124</key>
	<string>Omni Mode Off</string>
	<key>125</key>
	<string>Omni Mode On</string>
	<key>126</key>
	<string>Mono Mode On (Poly Mode Off)</string>
	<key>127</key>
	<string>Poly Mode On (Mono Mode Off)</string>
</dict>
</plist>
