<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMControllerFormat</key>
	<integer>2</integer>
	<key>SMMAskBeforeClosingModifiedWindow</key>
	<true/>
    <key>SMMAutoSelectFirstSource</key>  <!-- obsolete, compatibility only -->
    <true/>
	<key>SMMAutoSelectOrdinarySources</key>
	<true/>
	<key>SMMAutoSelectSpyingDestinations</key>
	<false/>
	<key>SMMAutoSelectVirtualDesination</key>
	<false/>
	<key>SMMOpenWindowsForNewSources</key>
	<false/>
	<key>SMMSaveSysExWithEOXAlways</key>
	<true/>
	<key>SMNoteFormat</key>
	<integer>2</integer>
	<key>SMTimeFormat</key>
	<integer>3</integer>
	<key>SMValueFormat</key>
	<integer>1</integer>
	<key>SMExpertMode</key>
	<false/>
</dict>
</plist>
