// Typically build against 10.6
SDKROOT = macosx10.6
    // meaning: maximum API usage allowed is 10.6
MACOSX_DEPLOYMENT_TARGET = 10.5
    // meaning: minimum machine we'll attempt to run on is 10.5

// ... but Intel 64-bit requires 10.6
MACOSX_DEPLOYMENT_TARGET_x86_64 = 10.6

// build on all archs that we possibly can
// (note: the Debug variant sets ONLY_ACTIVE_ARCH to further modify the behavior)
ARCHS = ${VALID_ARCHS}

// No need for prebinding generally; individual targets may turn it on themselves
PREBINDING = NO

// Nice warnings
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
WARNING_CFLAGS = -Wmost -Wparentheses
