// Typically build against 10.4
SDKROOT = ${DEVELOPER_SDK_DIR}/MacOSX10.4u.sdk
    // meaning: maximum API usage allowed is 10.4
MACOSX_DEPLOYMENT_TARGET = 10.4
    // meaning: minimum machine we'll attempt to run on is 10.4

// ... but on PPC we'll attempt to run on 10.3.9
MACOSX_DEPLOYMENT_TARGET_ppc = 10.3

// We must use GCC 4.0 to target 10.4
GCC_VERSION = 4.0

// No need for prebinding generally; individual targets may turn it on themselves
PREBINDING = NO

// Nice warnings
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
WARNING_CFLAGS = -Wmost -Wparentheses
