<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SSEListenForProgramChanges</key>
	<false/>
	<key>SSEInterruptOnProgramChange</key>
	<true/>
	<key>SSEProgramChangeBaseIndex</key>
	<integer>1</integer>
	<key>SMControllerFormat</key>
	<integer>2</integer>
	<key>SMNoteFormat</key>
	<integer>2</integer>
	<key>SMTimeFormat</key>
	<integer>3</integer>
	<key>SMValueFormat</key>
	<integer>1</integer>
	<key>SSEAbbreviateFileSizesInLibraryTableView</key>
	<true/>
	<key>SSEShowWarningOnDelete</key>
	<true/>
	<key>SSEShowWarningOnImport</key>
	<true/>
	<key>SSEDoubleClickToSendMessages</key>
	<true/>
	<key>SSESysExIntervalBetweenSentMessages</key>
	<integer>150</integer>
	<key>SSESysExReadTimeOut</key>
	<integer>1000</integer>
</dict>
</plist>
