<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>SysExDocument</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>SysEx Librarian Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.snoize.midi-sysex</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>MIDIDocument</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>MIDI file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.midi-audio</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>LibraryDocument</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>SysEx Librarian Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.snoize.sysexlibrarian-library</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SysEx Librarian</string>
	<key>CFBundleGetInfoString</key>
	<string>1.5.2, Copyright 2002-2023 Kurt Revis</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SysEx Librarian</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>SnSX</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>SysEx Librarian stores recorded sysex files in your Documents folder, by default. (The location can be changed in the preferences.)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2023 Kurt Revis</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://www.snoize.com/SysExLibrarian/SysExLibrarian.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>Zk/6WD45ECvo30iL+yu+RDMtyUtdf0eT1YDu0psPZQQ=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIDI System Exclusive Data</string>
			<key>UTTypeIconFile</key>
			<string>SysExDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.snoize.midi-sysex</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sysX</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>syx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SysEx Librarian Library</string>
			<key>UTTypeIconFile</key>
			<string>LibraryDocument</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>com.snoize.sysexlibrarian-library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>sXLb</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>sXLb</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
